<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1">
   
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h4>Especialista en Educacion Cientifica</h4><h5>Facultad de Ciencia y Tecnologia - UADER</h5>
            </li>
            <li>
                <h4>Profesora Universitaria en Quimica </h4><h5>Facultad de Ciencia y Tecnologia - UADER</h5>
            </li>
            <li>
                <h4>Tecnica en Laboratorio de Analisis Clinicos </h4><h5>Facultad de Ciencias de la Salud UNER</h5>
                
                </li>
        </ul>
    </div>
</div>
