<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        
                <a href="https://sofia3s.github.io/endproyect">Portfolio - Programa "Concepción de Programadores" (2021) </a>
            <p>Concepción de Programadores es una iniciativa que nace de la articulación público-privada entre Municipio de Concepción del Uruguay, UTN Facultad Regional Concepción del Uruguay y la empresa de innovación digital Bombieri, para fomentar el aprendizaje de programación en la sociedad y brindar acceso a nuevas oportunidades laborales en el sector TI.</p>
  </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
           <img class="img-fluid img-proyecto" src="../../../assets/cdeluprograma.JPG" alt="">
        </div>
    </div>
</div>