<div class="row">
<div class="container">
<div class="logo">
    <img src="../../../assets/APLogo.png" alt="portada" id="logoAP">
</div>
    <div class="redes">
        <div>
            <a href="https://www.linkedin.com/in/sofia-sss/"target="_blank"><img src="../../../assets/linkedin2.png" alt=""></a>
            <a href="https://github.com/sofia3s" target="_blank"><img src="../../../assets/github.png" alt=""></a>
            <a href="https://www.facebook.com/sofia.sottocdu" target="_blank"><img src="../../../assets/facebook2.png" alt=""></a>
            <a href="https://www.instagram.com/sofia.sok/" target="_blank"><img src="../../../assets/instagram.png" alt=""></a>
           
            <button type="button" class="btn btn-lg btn-primary">Ingreso</button>
            </div>

</div>

</div>
</div>


