<div class="row">
    <h1>Experiencia Laboral</h1>
    
    <div class="col-lg-8">
        <ul>
            <li>
                <h4>Facultad de Ciencia y Técnologia - UADER</h4><h5>(2018 - continua)</h5> <h6>Docente Adjunta - Química Biológica - Prof. en Biología</h6>
            </li>
            <li>
                <h4>Colegio del Uruguay - UADER</h4> <h5>(2017 - continua)</h5>  <h6>Docente Nivel Secundario</h6>
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <img src="../../../assets/UADER (1).png" class="trab1">
           </div>
    
</div>